*.log

# Medical data and analysis results
backend/cv/slides/
backend/cv/samples/
backend/cv/cv/result_analyze/

# Tissue files
*.dat
*.mrxs

__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
.env

.idea/*