*.log

# Medical data and analysis results
backend/cv/slides/
backend/cv/samples/
backend/cv/cv/result_analyze/

# Tissue files
*.dat
*.mrxs

__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
.env

.idea/*

*.zip

SliceGrouperResearch/outputs
SliceGrouperResearch/outputs_v1
SliceGrouperResearch/lib/*
SliceGrouperResearch/inject_stage2_notebook.py
SliceGrouperResearch/run_all.py
SliceGrouperResearch/venv_research/*
backend/cv/slides_copy/*

